@charset "ISO-8859-1";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");


*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}



.wrapper1 {
  display: inline-flex;
  list-style: none;
}

.wrapper1 .icon {
  position: relative;
  background: #ffffff;
  border-radius: 50%;
  padding: 15px;
  margin: 10px;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .tooltip {
  position: absolute;
  top: 0;
  font-size: 12px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper1 .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper1 .icon:hover span,
.wrapper1 .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}
.wrapper1 .heart:hover,
.wrapper1 .heart:hover .tooltip,
.wrapper1 .heart:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}
.wrapper1 .facebook:hover,
.wrapper1 .facebook:hover .tooltip,
.wrapper1 .facebook:hover .tooltip::before {
  background: #1877F2;
  color: #ffffff;
}

.wrapper1 .twitter:hover,
.wrapper1 .twitter:hover .tooltip,
.wrapper1 .twitter:hover .tooltip::before {
  background: #1DA1F2;
  color: #ffffff;
}

.wrapper1 .instagram:hover,
.wrapper1 .instagram:hover .tooltip,
.wrapper1 .instagram:hover .tooltip::before {
  background: #E4405F;
  color: #ffffff;
}

.wrapper1 .github:hover,
.wrapper1 .github:hover .tooltip,
.wrapper1 .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

.wrapper1 .youtube:hover,
.wrapper1 .youtube:hover .tooltip,
.wrapper1 .youtube:hover .tooltip::before {
  background: #CD201F;
  color: #ffffff;
}
